@import url(https://fonts.googleapis.com/css?family=Bitter:400,700);
.spacer {
  width: 100%;
  height: 10%; }

.noStyle {
  text-decoration: none;
  color: inherit; }
  .noStyle:hover {
    font-size: 4vh; }

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: "Bitter", serif;
  background: url("../../imgs/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow-y: hidden; }
  html nav, body nav {
    width: 100%;
    height: 12.25%;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed; }
    html nav .navItems, body nav .navItems {
      display: inline-block;
      font-size: 3vh;
      color: #fff;
      text-decoration: none;
      margin-left: 5%;
      margin-top: 4.5vh; }
  html #content-container-foundation, body #content-container-foundation {
    width: 100%;
    height: 87.75%;
    position: fixed;
    top: 12.25%;
    overflow-y: hidden;
    text-align: center; }
    html #content-container-foundation ul, body #content-container-foundation ul {
      margin: 0;
      padding: 0;
      width: 100%;
      height: 100%;
      list-style: none;
      position: absolute;
      overflow-y: auto; }
      html #content-container-foundation ul .small, body #content-container-foundation ul .small {
        height: 30%; }
      html #content-container-foundation ul li, body #content-container-foundation ul li {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        overflow-y: auto;
        color: white; }
        html #content-container-foundation ul li h1, body #content-container-foundation ul li h1 {
          margin: 0;
          padding: 0; }
        html #content-container-foundation ul li p, body #content-container-foundation ul li p {
          margin: 0;
          padding: 0; }
        html #content-container-foundation ul li #title-bar, body #content-container-foundation ul li #title-bar {
          width: 100%;
          height: 40%;
          margin-top: 12vh;
          background-color: rgba(155, 102, 11, 0.8);
          padding-top: 10%; }
          html #content-container-foundation ul li #title-bar h1, body #content-container-foundation ul li #title-bar h1 {
            margin-bottom: 2vh;
            font-size: 6vh; }
          html #content-container-foundation ul li #title-bar p, body #content-container-foundation ul li #title-bar p {
            width: 50%;
            margin: 0 auto;
            font-size: 4vh; }
        html #content-container-foundation ul li #info-container, body #content-container-foundation ul li #info-container {
          width: 100%;
          height: 100%;
          clear: both; }
          html #content-container-foundation ul li #info-container article, body #content-container-foundation ul li #info-container article {
            margin: 0;
            width: 65%;
            height: 80%;
            background-color: rgba(0, 0, 0, 0.8);
            float: left;
            margin-top: 7.5vh;
            overflow-y: auto;
            margin-right: 2vh; }
            html #content-container-foundation ul li #info-container article h1, html #content-container-foundation ul li #info-container article p, body #content-container-foundation ul li #info-container article h1, body #content-container-foundation ul li #info-container article p {
              margin: 3.5vh auto 0;
              margin-bottom: 3vh;
              width: 80%; }
            html #content-container-foundation ul li #info-container article h1, body #content-container-foundation ul li #info-container article h1 {
              font-size: 2.2vw; }
            html #content-container-foundation ul li #info-container article p, body #content-container-foundation ul li #info-container article p {
              font-size: 1.8vw; }
          html #content-container-foundation ul li #info-container #portrait, body #content-container-foundation ul li #info-container #portrait {
            margin: 0;
            width: 30%;
            height: 80%;
            float: right;
            margin-top: 7.5vh;
            border-radius: 2px;
            opacity: .35;
            background: url("../../imgs/myself.png");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            -webkit-transition: opacity 250ms linear;
            -moz-transition: opacity 250ms linear;
            -ms-transition: opacity 250ms linear;
            -o-transition: opacity 250ms linear;
            transition: opacity 250ms linear; }
            html #content-container-foundation ul li #info-container #portrait:hover, body #content-container-foundation ul li #info-container #portrait:hover {
              -webkit-transition: opacity 250ms linear;
              -moz-transition: opacity 250ms linear;
              -ms-transition: opacity 250ms linear;
              -o-transition: opacity 250ms linear;
              transition: opacity 250ms linear; }
            html #content-container-foundation ul li #info-container #portrait:hover, body #content-container-foundation ul li #info-container #portrait:hover {
              -webkit-transition: opacity 500ms linear;
              -moz-transition: opacity 500ms linear;
              -ms-transition: opacity 500ms linear;
              -o-transition: opacity 500ms linear;
              transition: opacity 500ms linear;
              background: url("../../imgs/myself.png");
              background-position: center;
              background-repeat: no-repeat;
              background-size: cover;
              opacity: 1; }
              html #content-container-foundation ul li #info-container #portrait:hover:hover, body #content-container-foundation ul li #info-container #portrait:hover:hover {
                -webkit-transition: opacity 500ms linear;
                -moz-transition: opacity 500ms linear;
                -ms-transition: opacity 500ms linear;
                -o-transition: opacity 500ms linear;
                transition: opacity 500ms linear; }
        html #content-container-foundation ul li #updates-container, body #content-container-foundation ul li #updates-container {
          width: 100%;
          height: 100%; }
          html #content-container-foundation ul li #updates-container h1, body #content-container-foundation ul li #updates-container h1 {
            width: 100%;
            background-color: rgba(0, 0, 0, 0.8);
            color: #fff;
            position: absolute;
            z-index: 1;
            padding: 3vh 0;
            margin: -.5vh 0 0 0; }
          html #content-container-foundation ul li #updates-container ol, body #content-container-foundation ul li #updates-container ol {
            margin: 0;
            padding: 0;
            width: 100%;
            height: auto;
            position: absolute;
            margin: 30vh 0 0; }
            html #content-container-foundation ul li #updates-container ol li, body #content-container-foundation ul li #updates-container ol li {
              width: 25%;
              min-width: 175px;
              height: 100%;
              margin: 1.5vh 5vh 0;
              display: inline-flex;
              border: 2px #fff solid;
              box-sizing: border-box;
              background-color: rgba(22, 22, 22, 0.7);
              text-align: center; }
              html #content-container-foundation ul li #updates-container ol li .textInPI, body #content-container-foundation ul li #updates-container ol li .textInPI {
                color: white;
                text-align: center;
                display: inline;
                margin: 10vh auto; }
              html #content-container-foundation ul li #updates-container ol li:last-child, body #content-container-foundation ul li #updates-container ol li:last-child {
                margin-bottom: 5vh; }

/*# sourceMappingURL=lp_style.css.map */
