@import "mixins.scss";
body{
  color: white;
  @include scrollBar;

  #redirect-container{
    position: fixed;
    top: 30%;
    bottom: 30%;
    left: 20%;
    right: 20%;
    background: rgba(#000, 1);
    z-index: 999;
    text-align: center;
    border: solid 2px white;

    h1{
      margin: 2.5% 0;
      padding: 0;
    }
    a{
      font-size: 5vw;
      color: white;
    }
    span{
      display: block;
      margin: 2% 0;
      font-size: 1.5vw;
    }
  }
  #preloader_1{
    width: 100%;
    height: 100%;
    position: fixed;
    // position: fixed;
    // top: 0; bottom: 0; right: 0; left: 0;
    background-color: black;
    z-index: 99999;
  }
  #preloader_1 span{
    display:block;
    top: 40%;
    bottom: 40%;
    left: 46%;
    width: 2%;
    height: 2%;
    background:rgb(255, 255, 255);
    position:fixed;
    animation: preloader_1 1.5s  infinite ease-in-out;
  }
  #preloader_1 span:nth-child(2){
    left: 48%;
    animation-delay: .2s;
  }
  #preloader_1 span:nth-child(3){
    left:50%;
    animation-delay: .4s;
  }
  #preloader_1 span:nth-child(4){
    left:52%;
    animation-delay: .6s;
  }
  #preloader_1 span:nth-child(5){
    left:54%;
    animation-delay: .8s;
  }
  @keyframes preloader_1 {
      0% {height:4%;transform:translateY(0px);background:rgb(255, 255, 255);}
      25% {height:10%;transform:translateY(15px);background:rgb(213, 175, 38);}
      50% {height:4%;transform:translateY(0px);background:rgb(255, 255, 255);}
      100% {height:4%;transform:translateY(0px);background:rgb(255, 255, 255);}
  }
}
