//examples
$theColourWhite: #fff;
$zeroToHundred: 100%;
//the real things
//importing google fonts with @import yo
@import url(https://fonts.googleapis.com/css?family=Bitter:400,700);

$bitterFont: 'Bitter', serif;
